.breadcrumb {
    font-size: .75rem;

    @media only screen and (max-width: $screen-md) {
        font-size: .9rem;
        text-transform: capitalize;
        display: none;
    }

    .breadcrumb-label {
        color: #999;
        display: inline-block;
    }

    &__mobileLabel{
        display: none;

        @media only screen and (max-width: $screen-md) {
            display: inline-block;
        }
    }
}

.breadcrumbs-container{
    width: 100%;
}

.breadcrumb:last-child {
    display: none;
    @media only screen and (max-width: $screen-sm) {
        display: inline-flex;
    }
}

.breadcrumb:not(:nth-last-child)::after {
    content: normal;
}   

.breadcrumb:not(:nth-last-child(-n+2))::after {
    content: "/";
}

@media only screen and (max-width: $screen-md) {
    .product-details .breadcrumbs{
        // margin-bottom: 0 !important;
    }

    .breadcrumb:nth-last-of-type(2){
        display: inline-flex;

        a{
            display: block;
            text-align: center;
            // color:#6ea438;
        }
    }
}

.breadcrumbs{
    margin: 0;
}
